// 초기화
@import "./reset.css";
// 구글 폰트
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap");
//변수 모음
@import "./variable.scss";

body {
  font-family: $inter;
  background-color: $colorBody;
  word-break: keep-all;
}

main,
header,
footer,
.shop,
.stores,
.card {
  width: 60vw;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}
