// 서체
$nanum: "Nanum Gothic", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
  "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
  "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  sans-serif;

$Helvetica: "helvetica", "Spoqa Han Sans", "Apple SD Gothic Neo",
  "Malgun Gothic", "Nanum Gothic", "Noto Sans", "sans-serif";

$inter: "Inter", "Spoqa Han Sans", "Apple SD Gothic Neo", "Malgun Gothic",
  "Nanum Gothic", "Noto Sans", "sans-serif";

// 컬러
$colorBody: #fefcf4;

$colorDarkGray: #555;
$colorSoftGray: #999;

$borderGray: 1px solid #e5e7eb;
$borderBlack: 1px solid #000;
