@import "../../assets/style/variable.scss";

.productPage {
  width: 1160px;
  margin: 0 auto;
  padding: 9vw 0;
  .topDes {
    display: grid;
    grid-template-columns: 625px 1fr;
    grid-template-rows: 1fr 2fr;
    .titleIMG {
      grid-row: 1/3;
      width: 505px;
      margin-right: 120px;
    }
    .topDesTxt {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      grid-column: 2/3;
      h2 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      p {
        color: $colorSoftGray;
        font-size: 14px;
        font-weight: 500;
      }
      .price {
        color: $colorDarkGray;
        font-size: 13px;
      }
    }
    .shopping {
      label,
      input {
        display: block;
      }
      label {
        font-size: 12px;
        margin: 10px 0;
        color: $colorDarkGray;
      }
      input,
      select {
        background-color: transparent;
        border: $borderGray;
        padding: 8px 12px;
        width: 100%;
        margin-bottom: 30px;
      }
      select:focus {
        padding: 8px 12px;
      }
      select option[value=""][disabled] {
        display: none;
      }

      .selectedItem {
        background-color: #efefef;
        padding: 0 20px;
        margin-bottom: 30px;
        .row1 {
          display: flex;
          align-items: center;
          color: $colorDarkGray;
          font-size: 14px;
          border-bottom: dashed 1px $colorSoftGray;

          button {
            margin-left: auto;
            svg {
              width: 16px;
              fill: $colorSoftGray;
            }
          }
        }
        .row2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;
          .count {
            display: flex;
            button,
            p {
              background-color: #fff;
              border: 1px solid #ddd;
              margin: 0;
              padding: 0 6px;
            }
            p {
              padding: 0 10px;
              border-left: 0;
              border-right: 0;
              font-size: 14px;
              height: 30px;
              line-height: 30px;
            }
          }
          .totalPrice {
            font-size: 14px;
          }
        }
      }

      .shoppingBtn {
        display: flex;
        width: 100%;
        .BTN {
          cursor: pointer;
          width: 230px;
          height: 46px;
          line-height: 46px;
          background-color: #000;
          color: #fff;
          background-color: #fff;
          color: #000;
          border: $borderGray;
          text-align: center;
          &:nth-child(2) {
            margin-left: 15px;
            background-color: #000;
            color: #fff;
          }
          &:nth-child(3) {
            background-color: #fff;
            border: $borderGray;
            color: #000;
            width: 50px;
            margin-left: 15px;
            line-height: 50px;
            svg {
              width: 12px;
            }
          }
        }
      }
    }
  }
}
