@import "../assets/style/variable.scss";
.mainHead {
  p {
    width: 50%;
    line-height: 1.6;
    margin: 2vw 0 0;
    font-size: 13px;
    color: $colorDarkGray;
  }
  .quotation {
    font-weight: 700;
    text-align: right;
    margin: 1vw 0 6vw;
  }
}
