@import "../assets//style/variable.scss";

.cartList {
  width: 1050px;
  margin: 0 auto;
  padding: 200px 0;

  button {
    margin: 0 auto;
    cursor: pointer;
    background-color: transparent;
  }
  h2 {
    font-size: 16px;
  }
  .none {
    padding-top: 60px;
  }

  .cartListInfo {
    height: 50px;
    color: $colorDarkGray;
    border-top: $borderGray;
    border-bottom: $borderGray;
    font-size: 14px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr;
    .cartListInfoTxt {
      display: flex;
      input {
        margin-right: 20px;
      }
    }
    p {
      text-align: center;
    }
  }
  h3 {
    padding: 80px 0;
  }

  .cartListMap {
    padding-bottom: 20px;

    li {
      border-bottom: $borderGray;
      height: 160px;
      display: grid;
      align-items: center;
      grid-template-columns: 3fr 1fr 1fr;
      color: $colorDarkGray;
      .cartListTxt {
        display: flex;
        align-items: center;
        height: 160px;
        border-right: $borderGray;
        input[type="checkbox"] {
          margin-right: 20px;
        }
        a {
          display: flex;
          align-items: center;
          img {
            width: 80px;
            margin-right: 40px;
          }
          h3 {
            font-size: 16px;
            font-weight: 500;
            width: 420px;
          }
        }
        .dele {
          height: 20px;
        }
      }
      .quantity {
        height: 160px;
        line-height: 2;
        display: grid;
        place-content: center;
        text-align: center;
        .qtyBtn {
          display: flex;
          justify-content: center;
          width: 100px;
          margin: 10px 0;

          button,
          p {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 0;
            padding: 0 6px;
          }
          p {
            width: 30px;
            border-left: 0;
            border-right: 0;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
          }
        }
        /*         .cartQty {
          background-color: #fff;
          border-radius: 10px;
          width: 500px;
          // border: $borderGray;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          line-height: 1.7;
          h4 {
            position: relative;
            padding: 10px 0;
            border-bottom: $borderGray;

            span {
              position: absolute;
              right: 10px;
              top: 10px;
              cursor: pointer;
            }
          }
          .cartQtyWrapper {
            padding: 20px;
            .itemDes {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
              h3 {
                font-size: 0.9em;
                text-align: left;
                span {
                  display: block;
                }
              }
              img {
                width: 70px;
                margin-right: 40px;
                border: 1px solid #999;
              }
            }
            .itemQty {
              background-color: #efefef;
              padding: 10px 20px;

              h5 {
                font-size: 12px;
                text-align: left;
              }
              .qtyBtn {
                display: flex;
                width: 100px;
                margin: 10px 0;

                button,
                p {
                  background-color: #fff;
                  border: 1px solid #ddd;
                  margin: 0;
                  padding: 0 6px;
                }
                p {
                  width: 30px;
                  border-left: 0;
                  border-right: 0;
                  font-size: 12px;
                  height: 30px;
                  line-height: 30px;
                }
              }
            }
            .totalTxt {
              margin: 10px 0;
              display: flex;
              justify-content: space-between;
              p {
                font-size: 12px;
              }
              span {
                font-weight: 700;
              }
            }
          }
          .btn {
            background-color: $colorBody;
            border-top: $borderGray;
            padding: 10px;
            button {
              margin: 5px;
              width: 70px;
              height: 40px;
              background-color: #000;
              color: #fff;
              &:nth-child(1) {
                background-color: #fff;
                border: 1px solid #000;
                color: #000;
              }
            }
          }
        } */
      }
      .priceTag {
        border-left: $borderGray;
        border-right: $borderGray;
        height: 160px;
        line-height: 160px;
        text-align: center;
        font-size: 14px;
      }
      .dele {
        // padding-right: 20px;
        cursor: pointer;
        background-color: transparent;
        span {
          color: $colorSoftGray;
          font-size: 16px;
        }
      }
    }
  }
  .selectDele {
    background-color: #fff;
    border: $borderGray;
    padding: 6px 12px;
    font-size: 12px;
    margin-bottom: 40px;
  }
  .totalQuantity {
    border-top: 1px solid #000;
    border-bottom: $borderGray;
    font-size: 14px;
    padding: 10px 0;
  }
  .total {
    padding: 40px 0 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #000;
  }

  .cartBtn {
    width: 200px;
    margin: 0 auto;

    .buy {
      margin: 40px 0 30px;
      width: 200px;
      height: 40px;
      display: grid;
      font-size: 16px;
      font-weight: 700;
      place-content: center;
      background-color: #000;
      color: #fff;
    }
    .returnShopping {
      font-size: 16px;
      width: 120px;
      border-bottom: #000 1px solid;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}
